/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-top: 9rem;
  }
  

/* Botões da NAVBAR azul - topo */
.header-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1.3rem;
    background-color: #233D8C;
    padding: 0.9rem 5rem;
    color: white;
  }
  .navbar{
    position: fixed; /* Fixando a navbar no topo */
    top: 0; /* Colocando ela no topo da página */
    left: 0;
    width: 100%; /* Garantindo que ela ocupe toda a largura */
    z-index: 1000; 
    
  }
  .navbar-logo img {
    height: 50px; /* Ajuste o tamanho da logo conforme necessário - altura */
    max-width: 100%; /* Garante que a imagem não fique maior do que o necessário - largura*/
  }
  
  .navbar-logo {
    text-decoration: none; /* Remove o sublinhado do link */
  }
  
  .navbar ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
} 

.navbar ul li .dropdown-content a {
    padding: 12px 16px;
    color: #333; 
    text-decoration: none;
    display: block;
}

.navbar ul li .dropdown-content a:hover {
    color: #025fa3;
}

/* Exibe o dropdown quando o usuário passa o mouse sobre o botão */
.navbar ul li:hover .dropdown-content {
    display: block;
}

/* Estilo para o botão de dropdown */
.navbar ul li .dropbtn {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    background: none;
    border: none;
}

/* Estilo do botão "Suporte" ao passar o mouse */
.navbar ul li .dropbtn:hover {
    background-color: #f1f1f1;
}

  .header-buttons a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
  }
  
  .header-buttons a:hover {
    text-decoration: underline;
      outline: none;
      color: inherit; /* Ou defina a cor desejada */
  }
  .header-buttons a:active{
      outline: none;
      color: inherit; /* Ou defina a cor desejada */
  }
  
  /* Navbar */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    position: relative;
    
  }
  
  /* Logo */
  .logo {
    padding-left: 0.8rem;
    font-size: 2.0rem;
    font-weight: 500;
    color: #000;
  }
  
  /* Links de navegação */
  header nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
  }
  
  header nav ul li {
    font-size: 1rem;
    font-weight: bold;
    color: #3b3b3b;
    cursor: pointer;
    
  }
  nav ul li a{
    text-decoration: none;
  }
  
  header nav ul li a:hover, header nav ul li a:active{
    color: #A65A3F !important;
    outline: none;
    color: inherit; 
  }
  
  /* Ícone e Botão */
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .search-icon {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #233D8C;
    cursor: pointer;
  }
  
  .search-button {
    padding: 1rem 1.9rem;
    background-color: #233D8C;
    color: rgb(222, 244, 247);
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    border-radius: 2rem 2rem 2rem 2rem;
    font-weight: bolder;
    cursor: pointer;
    
  }
  
  .search-button:hover {
    background-color: #061c5e;
  }
  main {
    text-align: center;
    padding: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 12rem; /* Ajuste esse valor conforme necessário */

  }
  .main-text{
    font-size: 2.0rem;
    font-weight: lighter;
    line-height: 2.4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;    
   
  }
  /* LINHA LARANJA */
  .line {
    height: 0.10rem;
    background-color: #F29E38;
    margin: 1rem auto;
    width: 85%;
  }
  
  main p {
    margin: 3rem 0;
  }
  
  
  /* CSS DO LINK DO TEXTO */

  .links {
    text-align: center; /* Centraliza os links dentro da div */
    display: block;

  }
  
  main .links h4 {
    padding-left: 3rem;
    padding-top: 50px;
    margin-right: 15px;
    display: inline-block; /* Faz os links ficarem lado a lado */
    width: 30%; /* Largura fixa para os links */
    margin-bottom: 1rem; /* Adiciona um espaço abaixo de cada h4 */
    padding-bottom: 30px;
    vertical-align: top !important;
    max-width: 100%;
    
  }
  
  .links a {
    display: block; /* Faz o link ocupar toda a largura do h4 */
    text-align: center; /* Centraliza o texto dentro do link */
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 500;
    color: #233D8C;
 
  }


  .links a:hover {
    text-decoration: none;
  }

    section{
    background-size: cover; /* Faz a imagem cobrir toda a área da seção */
  background-position: center; /* Centraliza a imagem dentro da seção */
  background-repeat: no-repeat; /* Impede que a imagem seja repetida */
  width: 100%; /* A seção ocupa toda a largura disponível */
  height: 25rem; /* A seção ocupa toda a altura da janela de visualização */
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */

    /* Centraliza o conteúdo dentro da section */
  display: flex; /* Usa flexbox para o layout */
  justify-content: center; /* Alinha horizontalmente ao centro */
  align-items: center; /* Alinha verticalmente ao centro */
  text-align: center; /* Centraliza o texto dentro dos elementos */
}



/* FORMULARIO */
/* Section com fundo */
.banner-form {
    background-image: url('https://images.ctfassets.net/k6ot5nj1c6f9/ivurfkScDaGqtgfZMySSx/a9fdb168714b06f64e81a8d02efc9bdf/iStock-1349076681__1_.jpg'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    text-align: center; /* Centraliza o texto dentro da section */
    position: relative;
    min-height: 90vh; /* Fullscreen */
    padding: 4rem 2rem;
    color: white;
    align-items: center;
    width: 100%;  /* Garante que a section ocupe 100% da largura */    background-image: url('https://images.ctfassets.net/k6ot5nj1c6f9/ivurfkScDaGqtgfZMySSx/a9fdb168714b06f64e81a8d02efc9bdf/iStock-1349076681__1_.jpg'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    text-align: center; /* Centraliza o texto dentro da section */
    position: relative;
    min-height: 90vh; /* Fullscreen */
    padding: 4rem 2rem;
    color: white;
    align-items: center;
    width: 100%;  /* Garante que a section ocupe 100% da largura */
  }
  
  /* Contêiner do texto à esquerda */
  .text-container {
    max-width: 40%;
    align-self: flex-start;
    padding-top: 2rem;
    padding-right: 2rem;
  }
  
  .text-container h2 {
    font-size: 3rem;
    text-align: left;
    line-height: 0.8;
    font-weight: bolder;
    margin-bottom: 4rem;
 
  }
  
  /* Contêiner do formulário à direita */
  .form-container {
    background: rgba(255, 255, 255); 
    padding: 50px;
    border-radius: 8px;
    width: 100%; /* Garante que o formulário ocupe 100% do espaço disponível */
    max-width: 900px; /* Largura máxima para o formulário */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .input-group {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  .input-group input {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 48%;
    border: 2px solid #233D8C;
  }
  input:focus{
    border: 2px;
    border-style: double;
    border-color: #233D8C;
  }
  
  .input-group input[type="text"], 
  .input-group input[type="email"], 
  .input-group input[type="tel"] {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #233D8C; /* Borda dupla azul */
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.3s ease; /* Transição suave ao mudar a borda */
  }

    /* Estilo da borda quando o input for focado */
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus {
    border: 1px #233D8C; /* Cor da borda ao focar (azul mais escuro) */
    border-style: double;
    outline: none; /* Remove o contorno padrão do navegador */
    }

  .form-container button {
    padding: 20px;
    font-size: 16px;
    background-color: #233D8C;
    color: white;
    border: none;
    border-radius: 20px;
    border-radius: 2rem 2rem 2rem 2rem;
    cursor: pointer;
    width: 30%; /* Ajustando a largura para 1/3 do tamanho do formulário */
    align-self: flex-start; /* Posicionando o botão à esquerda */
    font-weight: bolder;

  }
  
  .form-container button:hover {
    background-color: #0c2366;
  }
  
  .form-container label {
    font-size: 16px;
    color: #747474;
    align-items: left;
    font-weight: bold;
  }
  input[type="checkbox"] {
    width: 25px; /* Largura maior */
    height: 25px; /* Altura maior */
    vertical-align: middle; /* Alinha verticalmente com o meio do texto */
  }
  .check-text{
    justify-content:left; /* Centraliza horizontalmente */
    align-items:flex-start; 
    text-align: left;
  }
  .text-check{
    color: #a3a3a3;
    font-size: 11px;
  }
  
  .form-container input[type="checkbox"] {
    margin-right: 10px;
  }
  







/* Estilo da seção */
.heritage-section {
    text-align: center;
    padding: 2rem; /* Adiciona espaço abaixo do título */
    display: block; /* Garante que o título seja tratado como um bloco */
    position: relative; /* Para o pseudo-elemento funcionar, se necessário */
    overflow: visible; /* Garante que o conteúdo não seja cortado */
}

/* Estilo do título */
h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #54678C;
    margin-bottom: 2rem;
}
.home-title {
    font-size: 3rem;
    font-weight: 500;
    color: #A65A3F;
    margin-top: 20rem; /* Garante espaçamento entre os itens anteriores e o novo título */
}


/* Layout dos círculos e textos */
.heritage-content {
    display: flex;
    justify-content: space-evenly; /* Espaçamento uniforme entre os itens */
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
}

/* Cada item dentro da seção */
.heritage-item {
    flex: 1; /* Ajusta dinamicamente o tamanho */
    max-width: 30%; /* Limita o tamanho dos itens */
    text-align: center;
    padding-bottom: 1rem; /* Adiciona espaçamento inferior para não cortar o conteúdo abaixo */
}

/* Estilo do círculo */
.circle-image {
    width: 300px;
    height: 300px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    overflow: hidden;
}

/* Imagem dentro do círculo */
.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Título e texto abaixo dos círculos */
.heritage-item h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #A65A3F;
    font-weight: 500;
}

.heritage-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}





/* PASSO A PASSO */
.step-container {
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding: 40px;
      padding-left: 25rem;
      gap: 3px;
      max-width: 70% !important;
      min-width: 100vh;

    }

    .step {
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 15px;
      width: 200px;
      text-align: center;
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .step:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }

    .step .icon {
      font-size: 40px;
      margin-bottom: 15px;
      color: #0078d4;
    }

    .step-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #0078d4;
    }

    .step-desc {
      font-size: 14px;
      color: #555;
    }

    .arrow {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .arrow::before {
      content: "➔";
      font-size: 30px;
      color: #0078d4;
    }










/* CARD */
/* Estilo para a seção de cards */
/* Contêiner da seção de cards */
.section {
    padding: 3rem 2rem;
    margin-top: 4rem; /* Garantir que a seção de cards não se sobreponha à anterior */
    position: relative;
}

/* Título da seção */
.div-title {
    text-align: center;  /* Alinha o título no centro */
    margin-bottom: 2rem;  /* Espaçamento entre o título e os cards */
    width: 100%;
}

/* Contêiner dos cards */
.cards-section {
  display: flex;
  flex-wrap: wrap;  /* Permite que os cards se ajustem na linha */
  gap: 2rem;
  justify-content: center;  /* Alinha os cards ao centro */
  padding-top: 2rem;  /* Espaçamento entre o título e os cards */
  margin-top: 2rem;
  width: 100%;  /* Certifica-se de que a área dos cards ocupe toda a largura */
}

/* Estilo para os cards */
.card {
    width: 20%; /* Largura fixa para os cards */
    background-color: #f9f9f9;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem; /* Garantir o espaçamento entre os cards */
    flex-grow: 1;  /* Faz com que os cards cresçam se necessário para ocupar o espaço */
    min-width: 250px; /* Garante que o card não fique menor do que o necessário */
}

/* Imagem do card */
.card-image {
    width: 100%; /* Faz a imagem ocupar toda a largura do card */
    height: 350px; /* Altura fixa para as imagens */
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem cobrir toda a área */
}

/* Subtítulo e texto do card */
.card-subtitle {
    font-size: 1.2rem;
    color: #A65A3F;
    margin-bottom: 1rem;
    text-align: center;
}

.card-text {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    text-align: center;
    margin: 2rem 1rem;
    padding: 1px;
}

/* Botão dentro do card */
.card-button-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    min-height: 100vh;


}

.card-button {
    padding: 1rem 2rem;
    background-color: #A65A3F;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    border-radius: 2rem 2rem 2rem 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 4rem;
    max-width: 100%;
    line-height: 1rem;
    max-height: 100%;
}

.card-button:hover {
    background-color: #025fa3;
}







/* Footer */
.footer {
    background-color: #233D8C; /* Fundo cinza escuro */
    color: white;
    padding: 3rem 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  .footer-logo img {
    max-width: 150px; /* Limita o tamanho da logo */
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin: 0.5rem 0;
  }
  
  .footer-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    transition: color 0.3s;
  }
  
  .footer-links ul li a:hover {
    color: #027cda; /* Cor de destaque */
  }
  
  .footer-contact p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
  }
  
  .footer-contact h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }
  
  .footer-social {
    display: flex;
    gap: 1rem;
  }
  
  .footer-social .social-icon img {
    width: 30px;
    height: 30px;
  }
  
  .footer-bottom {
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ccc;
  }
  
  .footer-bottom p {
    margin: 0;
  }

  /* EXPLORE -> CSS */
  .solar-cards-container {
    display: flex;
    flex-direction: column; /* Coloca os cards um embaixo do outro */
    gap: 1rem; /* Espaçamento entre os cards */
    margin: 2rem;
    max-height: 100rem;
  }
  
  .solar-card {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%; /* Diminui a largura dos cards */
    max-width: 100%; /* Limita a largura máxima para evitar que o card fique muito largo */
    margin: 0 auto; /* Centraliza o card horizontalmente */
  }
  
  .solar-card-image {
    max-width: 100%;
    object-fit: cover;
    height: 350px; /* Definindo uma altura para a imagem */
    margin-right: 1rem;
  }
  
  .solar-card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .solar-card h2 {
    margin: 0 0 1rem;
    font-size: 2.2rem;
    color:#A65A3F;
    
  }
  
  .solar-card p {
    margin: 0;
    color: #555;
    font-size: 1.4rem;
  }





  /* FORMULARIO DO GERADOR */
  .formulario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem auto; /* Centraliza horizontalmente */
    width: 95% !important; /* O formulário agora ocupa 90% da tela */
    max-width: 100%;
}

.formulario-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.formulario-subtitle {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #666;
}

.formulario-form-container {
    background: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 100%; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}

.formulario-form-container form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formulario-input-group {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.formulario-input-group input {
    padding: 15px;
    font-size: 16px;
    border: 2px solid #233D8C;
    border-radius: 5px;
    width: 48%;
}

.input-address {
    width: 100% !important;
    padding: 20px;
    font-size: 16px;
    border: 2px solid #233D8C;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border: 2px solid #233D8C;
    border-style: double;
    outline: none;
}

.formulario-check-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    color: #747474;
    justify-content: left;
}

.formulario-text-check {
    text-align: justify;
    font-size: 0.9rem;
    color: #a3a3a3;
}

.formulario-form-container button {
    padding: 20px;
    font-size: 16px;
    background-color: #233D8C;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 20%;
    align-self: left; /* Centraliza o botão */
    font-weight: bolder;
}

.formulario-form-container button:hover {
    background-color: #A65A3F;
}

.formulario-check-text input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.formulario-check-text {
    justify-content: left;
    align-items: flex-start;
    text-align: left;
}





/* CARD - EXPLORE */
.aprenda-section {
  text-align: center; /* Centraliza o texto */
  padding: 2rem;
  display: block; /* Garante que a section seja um bloco completo */
  min-height: 100vh;
}

.aprenda-section h1 {
  text-align: center; /* Garante que o título seja centralizado */
  margin-bottom: 2rem; /* Espaçamento abaixo do título */
  width: 100%; /* Garante que o título ocupe toda a largura disponível */
}

.aprenda-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Configuração responsiva */
  gap: 1rem;
  max-width: 100%; /* Limita a largura total dos cards */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.aprenda-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Garante que os cards tenham o mesmo tamanho */
  min-height: 300px; /* Define uma altura mínima para os cards */
  position: relative; /* Importante para garantir que o botão fique fixado na parte inferior */
}

.aprenda-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.aprenda-card h2 {
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem;
  color: #A65A3F;
}

.aprenda-card p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1.5rem;
  flex-grow: 1; /* Isso faz o texto ocupar o espaço restante */
}

.aprenda-card .btn {
  text-decoration: none;
  background-color: #233D8C;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: auto; /* Garante que o botão fique na parte inferior */
  align-self: flex-end; /* Garante que o botão esteja alinhado ao final */
  max-height: 100%;
  height: 5rem;
  padding: 1rem 2rem;
  line-height: 1rem; /* Centraliza o texto verticalmente */
  display: flex;
  text-align: center;
  align-items: center; /* Alinha o texto verticalmente */
  justify-content: center; /* Alinha o texto horizontalmente */;
}
  


.aprenda-card .btn:hover {
  background-color: #A65A3F;
}




/* BENEFICIOS */
.benefits-section {
  padding: 4rem 2rem;
  display: block;
  max-height: 100%;
  min-height: 40rem;
  
}

.benefits-section h2 {
  font-size: 2rem;
  color: #233D8C;
  margin-bottom: 2rem;
  text-align: center; /* Título centralizado */
}

.benefit {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  width: 100%;
  
}

.benefit-icon {
  font-size: 2rem; /* Tamanho do ícone */
  color: #233D8C; /* Cor do ícone */
  margin-right: 1rem;
}

.benefit-text {
  font-size: 1rem;
  color: #666;
  text-align: left; /* Garante que o texto fique alinhado à esquerda */
}

.benefit-text p {
  margin: 0;
  font-weight: 500;
}

/* Certifica que cada benefício ocupe uma linha */
.benefit {
  width: 100%;
  display: flex;
  margin-bottom: 2rem; /* Espaço entre os benefícios */
  justify-content: center;
align-items: center;

  
}

.benefit .benefit-icon {
  display: inline-block;
  width: 30px;
}

.benefit .benefit-text {
  display: inline-block;
  max-width: calc(100% - 40px); /* Ajusta o espaço restante para o texto */
}

/* Responsividade */
@media (max-width: 768px) {
  .benefit {
    flex-direction: column;
    align-items: flex-start;
  }

  .benefit .benefit-icon {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}








/* Sessão Sobre Nós */
.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100% !important;
  max-width: 1200px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0;

}

/* Texto (Esquerda) */
.about-us-text {
  max-width: 50%;
  text-align: left;
  padding: 3rem;
}

.about-us-text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  color: #027cda;
}
.about-us-text h3 {
  color: #A65A3F;
}


.subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

/* Imagem (Direita) */
.about-us-image {
  max-width: 45%;
}

.about-us-image img {
  height: 750px;
  width: 750px;
  max-width: 100%;
  border-top-left-radius: 100%; /* Canto superior esquerdo */
  border-bottom-left-radius: 100%; /* Canto inferior esquerdo */
  object-fit:none;
}

.about-us-div{
  max-width: 100% !important;
  display: flex;
}
.about-us-text-div {
  padding: 2rem;
}
.about-us-div h1{
  font-weight: bolder;
  font-size: 4rem;
}

.about-us-div p{
  font-size: 1.3rem;
  color: #3b3b3b;
}
.about-us-div h3{
  font-size: 1.3rem;
  color: #A65A3F;
  padding-top: 1.5rem;
}


.about-us-div ul{
  list-style-type: disc;
  padding: 0rem 3rem;
  font-size: 1.3rem;
  color: #666;
}




/* PERGUNTAS FREQUENTES */
.faq {
  max-width: 100%;
  padding: 20px;
  display: block;
  min-height: 100vh;
}

.faq h1 {
  text-align: left;
  margin-bottom: 20px;
    font-weight: bolder;
  font-size: 4rem;
}

.faq-item {
  width: 100%;
}

.faq-question {
  width: 100%;
  padding: 25px;
  margin-bottom: 1rem;
  background-color: #f1f2fa;
  border: none;
  text-align: left;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  transition: background-color 0.3s;
}

.faq-question:hover {
  background-color: #A65A3F;
}

.faq-arrow {
  font-size: 28px;
  color: #0078d4;
  transition: transform 0.3s;
}

.faq-answer {
  display: none;
  padding-left: 2rem;
  padding-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1.4rem;
  text-align: left;
}

.faq-item.open .faq-answer {
  display: block;
}

.faq-item.open .faq-arrow {
  transform: rotate(180deg);
}







/* CONTATO US */
.contat-us h2{
  line-height: 3rem;
}

.contat-us h3{
  font-size: 1.5rem;
  text-align: left;
  color: #027cda;
}
.banner-contat{
  background-image: url('https://static.wixstatic.com/media/11062b_6d0881d113554690899a2cfeebfa521f~mv2.jpg/v1/fill/w_652,h_655,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_6d0881d113554690899a2cfeebfa521f~mv2.jpg'); /* Imagem de fundo */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; 
  text-align: center; /* Centraliza o texto dentro da section */
  position: relative;
  min-height: 90vh; /* Fullscreen */
  padding: 4rem 2rem;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  align-items: center;
  width: 100%;  /* Garante que a section ocupe 100% da largura */
}
